<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Age</th>
        <th scope="col">Country</th>
        <th scope="col">Username</th>
        <th scope="col">Roles</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getCountry()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td>
            <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
                <button type="button" class="btn btn-primary">Edit user</button>
            </a>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <button type="submit" class="btn btn-primary">Delete user</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/logout">
    <button type="button" class="btn btn-primary">Logout</button>
</a>

</body>
</html>